 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>福岡を拠点に海外でも活動するメンタリスト<br><strong>『Hori Koki ホリ コウキ』</strong><br>
                        <br>心理学、錯覚、誘導、催眠、トリックを用いて 人の”心”を読んだり操るような<br>メンタリズム(Mentalism) パフォーマンスを得意とする、日本で数少ない専門のメンタリスト<br><br>
                        『ロンブー田村淳』さんを始め『内村光良』さん、声優の『関 智一』さん、『岡本 信彦』さん 芸能人の方など26歳ながら今までに1万人以上の観客の心を読み操ってきた。<br><br>
                        嘘を見抜く達人/モチベーショーナルスピーカとして、講演とパフォーマンスを組み合わせたスタイルでも人気<br>
                        現在はオンライン動画コンテンツなども積極的に作成、SNSの総再生は3000万回を超える
                        日本唯一の没入感あるリモートでのメンタリズムパフォーマンスも発信中！</p>

                        

                        
                </div>
                <div class="col-lg-4">
                <p>From Fukuoka to the world,<br> "Hori Koki" <br><br>Specializes in mentalism performances that focus on reading your mind and manipulating your thoughts.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
            <!-- <iframe
            src="https://www.youtube.com/embed/Wg-3vVNBOSw
            ?loop=1
            &autoplay=0
            &mute=1
            &rel=0
            &modestbranding=1"
            frameborder="0" allowfullscreen>
            </iframe> -->
                <!-- <div  style="padding-bottom: 56.25%; text-align: center; width: 100%; height: 50vh;">
                    <iframe
                      style="top: 0; left: 0; width: 90%; height: 200PX;" 
                      src="https://www.youtube.com/embed/Wg-3vVNBOSw" 
                      frameborder="0" 
                      allow="autoplay; 
                      encrypted-media" 
                      allowfullscreen>
                    </iframe>
                  </div> -->
                  <body>
                    <div class="wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZJxtjPLoLec?si=lg9PiAw2lwdN80S5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe width="560" height="315"  src="https://www.youtube.com/embed/ABlpy655dfM?si=Ry8MjYJr0TauYFos" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="wrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WtHj9n0-KD4?si=ISBoPMVpz_JHLJnC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/F9qGLavcPSI?si=dGSo16wHSKTX0gkp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    </body>
    </section>