<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}
        Hori Koki(すけっち)への出演依頼、お問い合わせは<a href="https://docs.google.com/forms/d/e/1FAIpQLSczOn9ij_jjLe-g-M388obvXedEwFoD92fltsy7Amn8VyjsVA/viewform?usp=sf_link"
        target="blank"><span>こちら</span></a>から
        出張時のご質問等お気軽にお問い合わせください。<br>
        応援やコンテンツ販売は<a href="https://ko-fi.com/makko"
        target="blank"><span>こちら</span></a>で行なっております!
        </p>
      </div>
    
    </div>

  </div>

</footer>
