<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.is_index -%}
    <section class="hero is-fullheight has-text-centered" id="hero">
      <div class="container">
      <!-- <img class="Profile-img" src="../assets/images/profile1.jpg"> -->
      </div>
    </section>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

<script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="/css/lightbox.min.css">
  </body>

</html>
